body{
background-color:deeppink;
color:mediumaquamarine;
text-align:center;
}
#mypicture{
width:300px;
height:400px;
}
h4{
font-size:40px;
}
h3{
font-size:30px;
}
h5{
font-size:40px;
}
h6{
font-size:40px;
}